body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.form-container {
    background: #d3d1d1;
    border-radius: 10px;
    padding: 15px 30px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    width: 400px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 30px;
    bottom: 30px;
    font-size: 17px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(20px);
  }

#snackbar.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  #snackbar.hide {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }

h2 {
    margin-bottom: 20px;
    text-align: center;
}

form label {
    font-size: 0.9em;
    margin-bottom: 2px;
    margin-top: 20px;
    font-weight: bold;
    display: block;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 94%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    font-size: 14px;
}

form input::placeholder {
    color: #6b7280;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    accent-color: #1f2937;
    cursor: pointer;
    margin-right: 8px;
}

.checkbox-group label {
    cursor: pointer;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    border: 2px solid #1f2937;
    border-radius: 10px;
    background-color: #1f2937;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.action-group {
    text-align: center;
}

.btn:hover {
    color: #1f2937;
    background: #fff;
    border-color: #e5e7eb;
    box-shadow: 0 0 5px #1f2937;
}

.login-link {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}